body {
  background-color: hsla(183, 87%, 41%, 0.176);
  font-family: "Corben", serif;
}

header {
  border-bottom: 1px solid #04d3cf46;
  padding: 0 0 30px 0;
}

main {
  padding: 30px 0;
}

h1 {
  color: black;
}
footer {
  border-top: 1px solid #04d3cf46;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.app-border {
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 30px 50px hsla(183, 87%, 41%, 0.256);
  border-radius: 17px;
  padding: 30px;
}

.project {
  margin-top: 0;
  text-align: left;
  font-size: 12px;
  text-decoration-thickness: 100px;
}

.first {
  color: #04d3d0;
  text-shadow: 20px -10px 1px #f834994e;
}
.second {
  color: #f83499;
  text-shadow: 20px -10px 1px #04d3cf6f;
}

.search-form {
  border: none;
  display: block;
  margin-top: 50px;
}

.search-form-input {
  background-color: #0ebbc42d;
  border: none;
  width: 80%;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 8px;
  font-family: "Corben", serif;
}

.search-form-button {
  background-color: #0ebbc4d2;
  border: none;
  font-size: 16px;
  padding: 10px 18px;
  font-family: "Corben", serif;
  border-radius: 4px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.065);
}
.weather-main {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.humidity {
  color: #f65282;
  font-family: "Corben", serif;
}
.wind-speed {
  color: #f65282;
  font-family: "Corben", serif;
}

.weather-container {
  display: flex;
  justify-content: space-between;
}
.weather-icon {
  width: 88px;
  height: 88px;
}
.weather-temperature {
  font-size: 70px;
  color: black;
  font-family: serif;
  margin-left: 10px;
  font-weight: bold;
}

.weather-unit {
  font-size: 28px;
  color: rgba(39, 33, 66, 0.4);
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weekly-forecast-date {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.weekly-forecast-icon {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weekly-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weekly-forecast-temperature {
  padding: 0 10px;
}
.min {
  color: rgba(246, 82, 131, 0.613);
}

.footer-first {
  color: #04d3d0;
}
.footer-second {
  color: #f83499;
}
